table.responsive {
	border: 1px solid #ccc;
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom:25px;
  }
  
  table.responsive tr {
	border: 1px solid #ddd;
	padding: 5px;
  }
  
  table.responsive th,
  table.responsive td {
	padding: 10px;
	text-align: center;
  }
  
  table.responsive th {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	background-color:#ccc;
  }

  @media screen and (max-width: 600px) {

	table.responsive { border: 0; }
	
	table.responsive thead { display: none; }
	
	table.responsive tr {
	  margin-bottom: 10px;
	  display: block;
	  border-bottom: 2px solid #ddd;
	}
	
	table.responsive td {
	  display: block;
	  text-align: right;
	  font-size: 13px;
	  border-bottom: 1px dotted #ccc;
	}
	
	table.responsive td:last-child { border-bottom: 0; }
	
	table.responsive td:before {
	  content: attr(data-label);
	  float: left;
	  text-transform: uppercase;
	  font-weight: bold;
	}
	
	}